@charset "utf-8";


/* 201811 추가 */
.gm_search{position:absolute;top:3px;right:0;display:inline-block;}
.gm_search select {width:90px; height:30px; margin-right:5px;line-height:30px; border:0; font-size:0.95em; display:inline-block; vertical-align:top; float:left;}
.gm_search input[type="text"] {width:200px; height:30px;  margin-right:5px;line-height:30px; border:0; font-size:0.95em; display:inline-block; vertical-align:top; float:right; background:#fff;}
.gm_search input[type="submit"] { position:absolute; top:0; right:0px; background:#124f67; border:0; color:#fff; cursor:pointer; font-size:0.95em; height:30px; padding:0 15px; display:inline-block; vertical-align:top; float:left; margin-left:10px;  -webkit-appearance:none;} 
@media all and (max-width:1040px){
	#header .pop_btn, #header .pop_btn_x{display:none}
	
}
@media only screen and (max-width:550px) {
	.gm_search #_search_key {display:none;}

}
/* ////201811 추가 */



/***** common *****/
#wrap {width:100%; height:auto; position:relative; overflow:hidden;}
.al_box {max-width:1280px; height:auto; margin:0 auto; position:relative; z-index:10;}
.al_box:after {content:""; display:block; clear:both;}


/***** header *****/
#rwd_header {display:none;}
.tm_mob { display:none;}

#header {width:100%; height:122px; position:relative; z-index:102; background:url(../../images/kr/common/header_bg.gif) repeat-x left top;}
#header .pop_btn {display:inline-block; position:absolute; left:0; top:0; height:37px; line-height:37px; background:#ececec url(../../images/kr/common/pop_open_bul.png) no-repeat 86% 50%; padding:0 32px 0 15px; font-weight:600; display:none;}
#header .pop_btn_x {display:inline-block; position:absolute; left:0; top:0; height:37px; line-height:37px; background:#ececec url(../../images/kr/common/pop_close_bul.gif) no-repeat 86% 50%; padding:0 32px 0 15px; font-weight:600;}
#header h1 {position:absolute; left:0px; top:55px; z-index:1; width:216px; height:41px;}
#header h1 a {display:block; width:216px; height:41px;}
.top_util {position:absolute; right:342px; top:0px; width:auto; height:37px;}
.top_util li {float:left; height:37px; background:url(../../images/kr/common/top_menu_bar.gif) no-repeat left 15px;}
.top_util li:first-child {background:none;}
.top_util li a {display:block; padding:0 10px; font-size:0.95em; height:37px; line-height:37px; font-weight:600;}

.more_m_btn {display:inline-block; vertical-align:top; position:absolute; right:192px; top:0; z-index:90; background:#dc6465 url(../../images/kr/common/more_menu_bul.png) no-repeat 10px top; padding:0 15px 0 40px; color:#fff !important; height:37px; line-height:37px; font-weight:600;}
.more_m_btn:hover, .more_m_btn:active, .more_m_btn:focus {background:#c34545 url(../../images/kr/common/more_menu_bul.png) no-repeat 10px top;}
.find_m_btn {display:inline-block; vertical-align:top; position:absolute; right:51px; top:0; z-index:90; background:#d94f4f url(../../images/kr/common/find_menu_bul.png) no-repeat 10px top; padding:0 15px 0 40px; color:#fff !important; height:37px; line-height:37px; font-weight:600;}
.find_m_btn:hover, .find_m_btn:active, .find_m_btn:focus {background:#c34545 url(../../images/kr/common/find_menu_bul.png) no-repeat 10px top;}
.find_menu {position:absolute; left:0; top:37px; width:100%; height:auto; background:#fff; z-index:999; display:none;}
.find_menu ul {width:100%; background:#d94f4f url(../../images/kr/common/find_menu_bg.gif) no-repeat left top;}
.find_menu ul:after {content:""; display:block; clear:both;}
.find_menu ul li {float:left; width:25%;}
.find_menu ul li strong {color:#fff; display:block; text-align:center; font-size:1.143em; padding:10px 0;}
.find_menu ul li ul {background:#fff; padding:15px 0;}
.find_menu ul li ul.bg {background:#f2f2f2 none;}	
.find_menu ul li ul li {float:left; width:39%; margin:0 4% 1px 7%; line-height:normal;}
.find_menu ul li ul li a {display:inline-block; vertical-align:top; font-size:0.929em; padding:5px;}
.find_menu ul li ul li a:hover, .find_menu ul li ul li a:active, .find_menu ul li ul li a:focus {background:#d94f4f; color:#fff; text-decoration:none;}
.find_menu .close_btn {width:100%; background:#d4d4d4; text-align:center;}
.find_menu .close_btn a {display:inline-block; vertical-align:top; padding:8px 10px 8px 30px; font-weight:600; color:#464646; background:url(../../images/kr/common/find_menu_close_bul.gif) no-repeat 10px 13px;}

.search_btn {display:inline-block; vertical-align:top; position:absolute; right:0; top:0; z-index:90; background:#5f5f5f url(../../images/kr/common/search_btn_bul.png) no-repeat center top; width:49px; height:37px;}
.search_btn:hover, .search_btn:active, .search_btn:focus {background:#464646 url(../../images/kr/common/search_btn_bul.png) no-repeat center top;}
.search_btn.ov {background:#04adbf url(../../images/kr/common/search_btn_bul.png) no-repeat center top;}
.search_total {position:absolute; left:0; top:37px; width:100%; height:auto; background:#04adbf; z-index:999; display:none;}
.search_form {position:relative; width:710px; padding:20px 0; margin:0 auto;}
		.search_form:after {content:""; display:block; clear:both;}
		.search_form select {width:120px; height:40px; line-height:40px; border:0; font-size:1.143em; display:inline-block; vertical-align:top; float:left;}
		.search_form input[type="text"] {width:560px; height:40px; line-height:40px; border:0; font-size:1.143em; display:inline-block; vertical-align:top; float:right;}
		.search_form input[type="submit"] { position:absolute; top:20px; right:0px; background:#464646; border:0; color:#fff; cursor:pointer; font-size:1.143em; height:40px; padding:0 20px; display:inline-block; vertical-align:top; float:left; margin-left:10px; -webkit-appearance:none;} 
.search_total .close_btn {width:100%; background:#d4d4d4; text-align:center;}
.search_total .close_btn a {display:inline-block; vertical-align:top; padding:8px 10px 8px 30px; font-weight:600; color:#464646; background:url(../../images/kr/common/find_menu_close_bul.gif) no-repeat 10px 13px;}
.shadow_bg {width:100%; height:100%; position:fixed; left:0; top:0; background:#000; opacity:0.6; filter:alpha(opacity=60); z-index:200; display:none;}

#gnb {position:relative; top:37px; left:0; width:100%; height:auto; z-index:1;}
#gnbwrap {position:relative; width:100%; height:85px;}
#tm {max-width:940px; height:100%; margin:0 auto; z-index:950; position:relative; padding:0 0 0 340px;}
#tm:after {content:""; clear:both; display:block;}
#tm li.th1 {float:left; width:auto; margin:0 13px;}
#tm li.th1 .special_m {position:absolute; left:0; width:315px; top:86px; height:100%; z-index:990; background:url(../../images/en/common/special_m_bg.png) no-repeat right top;}
#tm li.th1 .special_m p {color:#fff; font-size:1.4em; line-height:1.286em; margin:30px 0 20px 0;}
#tm li.th1 .special_m p strong {display:block; font-size:1.8em; line-height:1em; font-weight:600; padding-top:15px; margin-top:15px; background:url(../../images/en/common/gnb_titlebg.gif) no-repeat left top;}
#tm li.th1 .special_m span {display:block;}
#tm li.th1 .special_m span a {display:inline-block; margin-bottom:5px; vertical-align:top; color:#fff; border:2px solid #cddadf; background:url(../../images/en/common/special_btn_bul.gif) no-repeat 90% 50%; padding:5px 30px 5px 10px; margin-right:10px; height:auto;}
#tm li.th1 a.th1_lnk {display:block; height:86px; line-height:86px; padding:0 13px; text-align:center; font-weight:600; font-size:1.286em; text-decoration:none;}
#tm li.th1 a.current, #tm li.th1 a:hover, #tm li.th1 a:active, #tm li.th1 a:focus {border-bottom:4px solid #0074a5; height:82px; color:#0074a5;}
#tm li.th1 ul.th2 {width:965px; position:absolute; left:315px; top:70px; padding-top:30px; height:100%; background:#fff;}
#tm li.th1 ul.th2:after {content:""; display:block; clear:both;}
#tm li.th1 ul.th2 li {float:left; width:21.5%; margin:0 1% 5px 2%;}
#tm li.th1 ul.th2 li a {display:block; color:#0072a5; font-weight:600; font-size:1em; height:auto; padding:8px 10px; line-height:normal; background:#e6edf0;}
#tm li.th1 ul.th2 li a.on, #tm li.th1 ul.th2 li a:hover, #tm li.th1 ul.th2 li a:active, #tm li.th1 ul.th2 li a:focus {color:#0066a6; text-decoration:underline; background:#dae1e4; border-bottom:0;}
#tm li.th1 ul.th2 li a[target="_blank"] {background:#e6edf0 url(../../images/en/common/blank_ico.gif) no-repeat 97% 50%;}
#tm li.th1 ul.th2 li a[target="_blank"]:hover, #tm li.th1 ul.th2 li a[target="_blank"]:active, #tm li.th1 ul.th2 li a[target="_blank"]:focus {color:#0066a6; background:#dae1e4 url(../../images/en/common/blank_ico.gif) no-repeat 90% 50%;}
#tm li.th1 ul.th2 li ul {position:relative; width:100%; padding:10px 0 0 0;}
#tm li.th1 ul.th2 li ul li {float:none; width:auto; margin:0;}
#tm li.th1 ul.th2 li ul li a {display:inline-block; color:#636363; font-weight:normal; font-size:0.929em; padding:0 10px; background:none;}
#tm li.th1 ul.th2 li ul li a.on, #tm li.th1 ul.th2 li ul li a:hover, #tm li.th1 ul.th2 li ul li a:active, #tm li.th1 ul.th2 li ul li a:focus {color:#0070a4; background:none;}
#tm li.th1 ul.th2 li ul li a[target="_blank"] {background:url(../../images/en/common/blank_ico.gif) no-repeat 90% 50%; padding:0 40px 0 10px;}
#tm li.th1 ul.th2 li ul li a[target="_blank"]:hover, #tm li.th1 ul.th2 li ul li a[target="_blank"]:active, #tm li.th1 ul.th2 li ul li a[target="_blank"]:focus {color:#0070a4; background:url(../../images/en/common/blank_ico.gif) no-repeat 90% 50%;}
#animate {position:absolute; top:0px; left:0; width:100%; height:85px; background:#fff url(../../images/en/common/gnb_animate_bg.gif) repeat-x left top; overflow:hidden; z-index:998; z-index:101; border-bottom:1px solid #c6c6c6;}
.animate_line {width:50%; height:550px; background:url(../../images/en/common/gnb_patternbg.gif) repeat; position:absolute; left:0; top:86px;}

#tm #summery1 {}
#tm #summery1 li {min-height:155px;}
#tm #summery1 li ul li {min-height:10px;}
#tm #summery2 {}
#tm #summery3 {}
#tm #summery4 li {min-height:65px;}
#tm #summery4 li ul li {min-height:10px;}
#tm #summery5 {}
#tm #summery6 {}
#tm #summery6 li {min-height:155px;}
#tm #summery6 li ul li {min-height:10px;}
#tm #summery7 {}
#tm #summery7 li {min-height:50px;}
#tm #summery7 li ul li {min-height:10px;}


/***** container *****/
#main_container {width:100%; height:auto; padding:45px 0; position:relative; background:#d7d7d7 url(../../images/kr/main/main_visualbg.jpg) no-repeat center top;}
#main_container #contents {width:1280px; height:auto; margin:0 auto; float:none; padding:0; background:none; position:relative;}
#main_container #contents:after {content:""; display:block; clear:both;}
#main_container #contents h4 {margin:0 0 20px 0;}

#container {width:100%; height:auto; padding:45px 0; position:relative; background:#d7d7d7;}
#container .sub_vi {background:#607d9d url(../../images/kr/common/sub_vi.jpg) no-repeat center top; position:absolute; left:0; top:0; width:100%; height:312px;}
#container .al_box {background:url(../../images/kr/common/contents_bg.gif) no-repeat left top;}

	/** left menu **/
	#lnb {width:230px; height:auto; margin-right:20px; float:left;} 
	#lnb h2 {height:214px; text-align:center; color:#fff; font-size:2.857em; font-weight:600; line-height:normal;}
	#lnb h2 span {display:inline-block; border-top:9px solid #0f4163; padding:75px 5px 0 5px; vertical-align:top;}
	#lnb h2.vi01 {background:url(../../images/kr/common/lnb_titlebg01.jpg) no-repeat;}
	#lnb h2.vi02 {background:url(../../images/kr/common/lnb_titlebg02.jpg) no-repeat;}
	#lnb h2.vi03 {background:url(../../images/kr/common/lnb_titlebg03.jpg) no-repeat;}
	#lnb h2.vi04 {background:url(../../images/kr/common/lnb_titlebg04.jpg) no-repeat;}
	#lnb h2.vi05 {background:url(../../images/kr/common/lnb_titlebg05.jpg) no-repeat;}
	#lnb h2.vi06 {background:url(../../images/kr/common/lnb_titlebg06.jpg) no-repeat;}
	#lnb h2.vi07 {background:url(../../images/kr/common/lnb_titlebg07.jpg) no-repeat;}
	#lnb h2.vi08 {background:url(../../images/kr/common/lnb_titlebg08.jpg) no-repeat;}
	
	#lm{width:100%; border-top:12px solid #405e7e; padding-bottom:50px;}
	#lm li {width:100%; border-bottom:1px solid #ebebeb; background:#fff;}
	#lm li a {padding:8px 15px 8px 15px; display:block; font-size:1.071em; font-weight:600;}
	#lm li a[target="_blank"] {background:url(../../images/kr/common/blank_ico.gif) no-repeat 92% 50%;}
	#lm li a.ov, #lm li a:hover, #lm li a:active, #lm li a:focus {border-left:5px solid #d94f4f; padding-left:10px; background:url(../../images/kr/common/lnb_depth2_bul.gif) no-repeat 93% 50%; color:#d94f4f; text-decoration:none;}
	#lm li ul {display:none; width:auto; background:#f7f7f7; height:auto; padding:5px 0; border-top:1px solid #ebebeb; border-left:5px solid #d94f4f;}
	#lm li ul li {background:none; border-bottom:0; background:url(../../images/kr/common/lnb_depth3_bul.gif) no-repeat 10px 50%;}
	#lm li ul li a {font-size:0.929em; padding:5px 10px 5px 20px; width:auto; display:block; font-weight:normal; line-height:1.429em;}
	#lm li ul li a.ov, #lm li ul li a:hover, #lm li ul li a:active, #lm li ul li a:focus {background:none; color:#d94f4f; text-decoration:underline; border-left:0; padding:5px 10px 5px 20px;}
	#lm li ul li a[target="_blank"] {background:url(../../images/kr/common/blank_ico.gif) no-repeat 92% 50%;}
	
	/** contents **/
	#contents {width:1030px; height:auto; float:left; background:#fff; position:relative;}
	
	.location {position:relative; border-bottom:1px solid #cdcdcd; padding:30px 40px 0 40px; height:97px;}
	.location h3.cont_title {font-size:2.543em; line-height:normal; margin:0;}
	.location #path { margin-top:20px; }
	.location #path a {display:inline-block; vertical-align:top; font-size:0.929em;}
	.location #path .navi_home{background:url(../../images/kr/common/home_ico.gif) no-repeat left 4px; padding:0 0 0 18px;}
	.location #path .navi_ov{ font-weight:600; color:#d94f4d;}
	.location .sns {position:absolute; right:40px; top:30px;}
	.location .sns dd {float:left; margin-left:4px;}	.location .sns dd .jump_cnu{position:relative;top:-20px;right:10px}
	.location .sns dd .jump_cnu{position:relative;top:-20px;right:10px}
	.location .sns dd a {display:block; width:30px; height:31px; background:url(../../images/kr/common/sns_bg.png) no-repeat;}
	.location .sns dd.fb a {background-position:-33px 0;}
	.location .sns dd.tt a {background-position:0 0;}
	.location .sns dd.pr a {background-position:-67px 0;}
	.location .sns dd a span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
	
	.content {width:950px; height:auto; position:relative; padding:45px 40px; }
	
	/* 담당부서 */
	#department {border:1px solid #e5e5e3; padding:5px 15px; position:relative; margin-top:60px;}
	#department p {background:url(../../images/kr/common/info_ico.jpg) no-repeat left top; padding:0 0 0 45px; margin:0; height:39px; line-height:39px; font-size:0.929em;}
	#department .top_btn {position:absolute; right:15px; top:5px; display:block; background:url(../../images/kr/common/mail_ico.jpg) no-repeat; width:120px; height:39px; line-height:39px; font-size:0.929em;} 
	#department .top_btn span { padding-left:50px}

/***** aside *****/
#aside {width:100%; height:auto; background:#4b4f5b url(../../images/kr/common/aside_bg.jpg) repeat center top; padding:20px 0; position:relative; z-index:101;}	
#aside .al_box {height:220px}
#aside .map {width:840px;background: #464a57;float:left;height: 89%;}
#aside .map #map_canvas {border:5px solid #4da8b2; height:210px;}
.link_m {width:410px; height:170px; float:left; margin-left:30px; padding:50px 0 0 0; background:url(../../images/kr/common/aside_titlebg.png) no-repeat left top; position:relative;}
.link_m .infor_link {width:auto; position:absolute; left:0; top:60px;}
.link_m .infor_link a {display:inline-block; vertical-align:top; font-size:0.929em; text-align:center; line-height:normal; border:1px solid #6f727c; color:#fff; padding:13px 15px; float:left; margin-right:10px;}
.link_m .sns_link {width:auto; position:absolute; left:0; top:140px;}
.link_m .sns_link dt {color:#fff; font-size:1.286em; font-weight:600; margin:0 10px 0 0; padding:11px 0 0 0; float:left;}
.link_m .sns_link dd {float:left; margin:0 0 0 15px;}
.link_m .sns_link dd a {display:block; width:52px; height:52px; background:url(../../images/kr/common/sns_link_bg.png) no-repeat;}
.link_m .sns_link dd a:hover, .link_m .sns_link dd a:active, .link_m .sns_link dd a:focus {background:url(../../images/kr/common/sns_link_bg_ov.png) no-repeat;}
.link_m .sns_link dd a span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
.link_m .sns_link dd.yt a {background-position:0 0;}
.link_m .sns_link dd.fb a {background-position:-66px 0;}
.link_m .sns_link dd.tt a {background-position:-132px 0;}
#aside .btn {background:#d94e4e url(../../images/kr/common/aside_open_bul.gif) no-repeat center 50%; display:block; width:42px; height:40px; position:absolute; right:50%; margin-right:-640px; top:0; z-index:700;}	
#aside .btn.open {background:#d94e4e url(../../images/kr/common/aside_close_bul.gif) no-repeat center 50%;}
	

/***** footer *****/
#footer {width:100%; height:auto; background:#3c404c; padding:20px 0 30px 0; position:relative; border-top:1px solid #383c45;}
#footer .al_box {background:url(../../images/kr/common/footer_logo.jpg) no-repeat left bottom;}
.footer_m {width:auto; padding-bottom:20px; display:block;}
.footer_m:after {content:""; display:block; clear:both;}
.footer_m li {float:left; background:url(../../images/kr/common/footer_m_bul.gif) no-repeat left 4px;}
.footer_m li:first-child {background:none;}
.footer_m li a {padding:0 10px; display:block; font-size:0.875em; color:#d8d9db;}
.footer_m li:first-child a {color:#f75d5d; padding:0 10px 0 0;}

/*.accessibility_link {position:absolute; right:300px; bottom:2px;}
.gov30_link {position:absolute; right:210px; bottom:7px;}*/
.accessibility_link {position:absolute; right:280px; bottom:2px;}
.gov30_link {position:absolute;right: 419px;bottom:7px;}
.ck_link {position:absolute;right: 333px;bottom:7px;}
.ace_link {position:absolute;right: 246px;bottom:7px;}
.linc_link {position:absolute; right:127px; bottom:8px;}
.link_cnucore {position:absolute; right:0px; bottom:8px;}
.site_link {position:absolute; right:0; bottom:9px;}
.site_link .campus_btn {display:inline-block; vertical-align:top; color:#caccd0 !important; font-size:0.929em; border:1px solid #2c313b; background:#5f6370 url(../../images/kr/common/campus_site_bg.gif) no-repeat right -31px; padding:0 47px 0 10px; height:29px; line-height:29px;}
.site_link .campus_btn.open {background-position:right top;}
#campus_site {width:100%; height:auto; margin-top:-10px; padding:0 0 15px 0; display:none;}	
#campus_site .tabmenu dl {position:relative; width:100%; height:auto;}
#campus_site .tabmenu dt {position:absolute; top:0; width:14%; z-index:30; height:35px; background:#3c404d;}
#campus_site .tabmenu .tab01 {left:0; width:15%;}
#campus_site .tabmenu .tab02 {left:15%;}
#campus_site .tabmenu .tab03 {left:29%;}
#campus_site .tabmenu .tab04 {left:43%;}
#campus_site .tabmenu .tab05 {left:57%;}
#campus_site .tabmenu .tab06 {left:71%;}
#campus_site .tabmenu .tab07 {left:85%; width:15%}
#campus_site .tabmenu dt a {display:block; background:#373a46; color:#bbbeca; border:1px solid #545b6c; letter-spacing:-0.5; font-size:0.929em; line-height:1em; font-weight:normal; text-align:center; text-decoration:none; margin:0; padding:8px 0;}
#campus_site .tabmenu dt a.over {color:#fff; background:#d94e4e; border:1px solid #d94e4e; font-weight:600;}
#campus_site .tabmenu dd {display:none; width:100%; height:auto; position:relative; padding:35px 0 0 0; background:#464c5b;}
#campus_site .tabmenu dd ul {width:96%; border-top:1px solid #d94e4e; padding:5px 2%;}
#campus_site .tabmenu dd ul:after {content:""; display:block; clear:both;}
#campus_site .tabmenu dd ul li {float:left; width:16.6%; margin-bottom:3px;}
#campus_site .tabmenu dd ul li a {color:#aeb0b4; font-size:0.857em; padding:3px 3px 3px 8px; background:url(../../images/kr/common/relate_link_bul.gif) no-repeat left 9px; letter-spacing:-0.5px;}
#campus_site .close_btn {width:100%; background:#464c5b; text-align:center; border-top:1px solid #505463;}
#campus_site .close_btn a {display:inline-block; vertical-align:top; padding:4px 10px 4px 30px; font-weight:600; color:#cacacb; background:url(../../images/kr/common/relate_close_bul.gif) no-repeat 10px 50%;}

#footer address {font-size:0.875em; line-height:normal; display:block; color:#d8d9db; margin-left:210px;}
#footer address:after {content:""; display:block; clear:both;}
#footer p {color:#d8d9db; font-size:0.875em; line-height:normal; margin:5px 0 0 210px;}


/*ytube*/

.sns_list {
    position:  relative;
    top: 4px;
    left: 0;
}
.sns_list ul {margin: 0 -2%;padding: 9px 2px 5px 26px;}
.sns_list ul:after{content:"";display:block;clear:both;visibility:hidden;}
.sns_list ul li {position: relative;float:left;margin:0 1% 20px;width: 30.3%;height: 175px;overflow: hidden;}
.sns_list ul li a {display:inline-block;width:100%;height: 100%;background:  white;}
.sns_list ul li img {width:100%; height:100%;}
.sns_list ul li a .con {position:absolute;color:white;display:none;top:0;left:0;padding:30px;width:100%;height:100%;/* background: #fff; */}
.sns_list ul li a:hover  .con{position:absolute;display:block;top:0;left:0;padding:30px;width: 100%;height:100%;/* background: #fff; */}
.sns_list ul li a .con:after{content:"";display:block;clear:both;visibility:hidden;}
.sns_list ul li a .con p.tit {font-size: 15px;font-weight: bold;color: #fff;width: 140px;}
.sns_list ul li a .icon {display:inline-block;float:right;width: 19px;height:16px;background:url(../../images/kr/common/icon_sns2.png)no-repeat;top: 36px;right: 20px;position:  absolute;}
.sns_list ul li a .icon.fb {background-position: 0 0;}
.sns_list ul li a .icon.bl {background-position: -18px 0;}
.sns_list ul li a .icon.ut {background-position: -36px 0;}
.sns_list ul li a .icon.ka {background-position: -54px 0;}
.sns_list ul li a .icon.tw {background-position: -72px 0;}
.sns_list ul li a .con .txt_c {position:absolute;/* bottom:75px; */left:0;padding: 0 19px;width: 56%;/* height:44px; */overflow:hidden;font-size:15px;color:#5d5d5d;line-height:1.5;}
.sns_list ul li a .con .txt_c2 {position:absolute; bottom:127px; left:0; padding:0 30px; width:100%;overflow:hidden;font-size:18px; color:#5d5d5d; font-weight: bold;text-overflow: ellipsis;vertical-align: middle;white-space: nowrap;}
.sns_list ul li a .con .date {position:absolute;bottom: 82px;left:0;padding: 0 34px;width:100%;font-size:13px;color:#5d5d5d;}
.sns_list ul li a .con .date:after{content:"";display:block;clear:both;visibility:hidden;}
.sns_list ul li a .con .date span {display:inline-block;}
.sns_list ul li a .con .date .sp1 {line-height: 16px;}
.sns_list ul li a .con .date .sp1 em {display: inline-block; margin-right:5px;width:18px; height:16px; background:url(../../images/kr/common/icon_sns2.png)no-repeat center; background-position:0 -32px; }
.sns_list ul li a .con .date .sp2 { float:right; width:18px; height:16px;  background:url(../../images/kr/common/icon_sns2.png)no-repeat center; background-position:-36px -32px; }
.sns_list .u_t {color:white;}


.sns_list ul li .con,.sns_list ul li a:focus .con{background: rgba(0, 0, 0, 0.8);}

.sns_list ul li a:hover .icon.fb,.sns_list ul li a:focus p.tit .icon.fb {background-position: 0 -16px;}
.sns_list ul li a:hover .icon.bl,.sns_list ul li a:focus p.tit .icon.bl {background-position: -18px -16px;;}
.sns_list ul li a:hover .icon.ut,.sns_list ul li a:focus p.tit .icon.ut {background-position: -36px -16px;}
.sns_list ul li a:hover .icon.ka,.sns_list ul li a:focus p.tit .icon.ka {background-position: -54px -16px;}
.sns_list ul li a:hover .icon.tw,.sns_list ul li a:focus p.tit .icon.tw {background-position: -72px -16px;}
.sns_list ul li a:hover .txt_c,.sns_list ul li a:focus .txt_c {color:#fff;}
.sns_list ul li a:hover .txt_c2,.sns_list ul li a:focus .txt_c2 {color:#fff;}
.sns_list ul li a:hover .date,.sns_list ul li a:focus .date {color:#fff;}
.sns_list ul li a:hover .date .sp1 em,.sns_list ul li a:focus .date .sp1 em {background-position:-18px -32px;}
.sns_list ul li a:hover .date .sp2,.sns_list ul li a:focus .date .sp2 {background-position:-54px -32px;}
h4.u_t {color: #b9bbbf;margin:0px !important;padding-left: 15px;font-size: 22px;/* font-weight: bold; */}



@media only screen and (max-width:830px) {
	.sns_list ul li {width:48%;}

}

@media only screen and (max-width:550px) {
	.sns_list ul li {float:none; width:98%;}

}


.skipnavi{position:absolute;top:0;left:0;z-index:9999;}
.skipnavi a{display:block; position:absolute; top:-10000px;left:0;padding:10px 25px; width:500px; text-align:center;background:#000; color:#fff;}
.skipnavi a:focus{top:0; text-decoration:underline;color:#fff} 


/* 20201006 메인 수정 */
#tm li.th1 .special_m p > em {position: relative; color: transparent;}
#tm li.th1 .special_m p > em::before {position: absolute; width: 105px; height: 35px; content: ""; background: url(../../images/kr/main2/cn_new_start.png) no-repeat; top: -10px; right: -7px;}

@media(max-width: 1320px){
	#tm li.th1 .special_m p > em::before {position: absolute; top: 7px; right: 70px;}
	#tm li.th1 .special_m p strong {margin-top: 25px;}
	#tm li.th1 .special_m p > em {display: block;}
}


.slogan-box {position: absolute; width: 290px; height: 65px; right: 10px; top: 15px; z-index: 999;}
.slogan-box img {width: 100%; display: block;}
@media(max-width: 1840px) {
	.slogan-box {width: 230px; top: 20px;}
}
@media(max-width: 1650px) {
	.slogan-box {width: 200px; top: 25px;}
}
@media(max-width: 1580px) {
	.slogan-box {display: none;}
}
/* 20201006 메인 수정 End */


/** 팝업창 관련 **/
.pop_font{background:url(../../404error.html) no-repeat left 8px; text-indent:15px; margin-left:10px; float:left;}
.pop_font a:link{font-family:"Gulim"; font-size:14px; line-height:26px; letter-spacing:0; color:#FFFFFF;}
.pop_font a:visited{font-family:"Gulim"; font-size:14px; line-height:26px; letter-spacing:0; color:#FFFFFF;}
.pop_font a:active{font-family:"Gulim"; font-size:14px; line-height:26px; letter-spacing:0; color:#FFFFFF;}
.pop_font a:hover{font-family:"Gulim"; font-size:14px; line-height:26px; letter-spacing:0; color:#FFFFFF; font-weight:bold;}

/** *html .pop_font{background:url(../../404error.html) no-repeat left 6px;} **/
.pop_font{background:url(../../404error.html) no-repeat left 6px;}
.pop_close{width:48px; float:right;}
.pop_close img{margin-top:4px;}
.pop_con_box{ background:#ffffff; margin-left:6px;margin-right:6px;}
.pop_con_box img{display:block;height:100%}
.pop_bt_bg{height:26px; background:#000000; }
.pop_bg{background:#1370AA; padding:6px 0px 6px 0px}